@import url(https://fonts.googleapis.com/css?family=Fredoka+One);

/* Main colour variable - I will be looking to implement a dark colour theme which will switch between the two variables on a button click */
$main-colour: #caccf7;


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  line-height: 1;
  color: #414141;
  background: $main-colour;
  padding: 25px 0;
}

::selection, ::-moz-selection, ::-webkit-selection {
  background: $main-colour;
}

br {
  display: block;
  line-height: 1.6em;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

input, textarea {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

blockquote, q {
  quotes: none;
}

blockquote {
  &:before, &:after {
    content: '';
    content: none;
  }
}

q {
  &:before, &:after {
    content: '';
    content: none;
  }
}

strong, b {
  font-weight: bold;
}

em, i {
  font-style: italic;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border: 0;
  max-width: 100%;
}

h1 {
  font-family: 'Fredoka One', Helvetica, Tahoma, sans-serif;
  color: #fff;
  text-shadow: 1px 2px 0 $main-colour;
  font-size: 3.5em;
  line-height: 1.1em;
  padding: 6px 0;
  font-weight: normal;
  text-align: center;
}

/* Page Structure */

#w {
  display: block;
  width: 400px;
  margin: 0 auto;
}

#title {
  display: block;
  width: 100%;
  background: $main-colour;
  padding: 10px 0;
  -webkit-border-top-right-radius: 6px;
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topright: 6px;
  -moz-border-radius-topleft: 6px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

#page {
  display: block;
  background: #fff;
  padding: 15px 0;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

/** Cart Table **/

#cart {
  display: block;
  border-collapse: collapse;
  margin: 0;
  width: 100%;
  font-size: 1.2em;
  color: #444;
  thead th {
    padding: 8px 0;
    font-weight: bold;
    &.first {
      width: 185px;
    }
    &.second {
      width: 45px;
    }
    &.third {
      width: 75px;
    }
    &.fourth {
      width: 75px;
    }
    &.fifth {
      width: 30px;
    }
  }
  tbody td {
    text-align: center;
    margin-top: 4px;
  }
}

tbody {
  margin-left: 20px;
}

tr.productitm {
  height: 65px;
  line-height: 65px;
  border-bottom: 1px dashed #d7dbe0;
}

#cart tbody td img.thumb {
  vertical-align: bottom;
  border: 1px solid #ddd;
  margin-bottom: 4px;
}

.qtyinput {
  width: 30px;
  height: 22px;
  border: 1px solid #a3b8d3;
  border-radius: 1px;
  background: #fcfcfc;
  color: #000;
  text-align: center;
}

tr {
  &.totalprice {
    height: 35px;
    line-height: 35px;
  }
  &.extracosts {
    height: 35px;
    line-height: 35px;
    background: #fff;
  }
}

.remove {
  cursor: pointer;
  position: relative;
  right: 12px;
  top: 5px;
}

.light {
  color: #888b8d;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.45);
  font-size: 1.1em;
  font-weight: normal;
}

.thick {
  color: #272727;
  font-size: 1.7em;
  font-weight: bold;
}

/** submit btn **/

tr.checkoutrow {
  background: #fff;
  border-top: 1px solid #abc0db;
  a {
    text-decoration: none;
    margin-left: 200px;
    padding-right: 15px;
  }
}

td.checkout {
  padding: 12px 0;
  padding-top: 20px;
  width: 100%;
  text-align: right;
}

#submitbtn {
  width: 150px;
  height: 35px;
  outline: none;
  border: none;
  border-radius: 5px;
  margin: 0 0 10px 0px;
  font-size: 1.3em;
  letter-spacing: 0.05em;
  font-family: Arial, Tahoma, sans-serif;
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  overflow: hidden;
  border-bottom: 1px solid #0071ff;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #66aaff), color-stop(100%, #4d9cff));
  background-image: -webkit-linear-gradient(#66aaff, #4d9cff);
  background-image: -moz-linear-gradient(#66aaff, #4d9cff);
  background-image: -o-linear-gradient(#66aaff, #4d9cff);
  background-image: linear-gradient(#66aaff, #4d9cff);
  &:hover {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4d9cff), color-stop(100%, #338eff));
    background-image: -webkit-linear-gradient(#4d9cff, #338eff);
    background-image: -moz-linear-gradient(#4d9cff, #338eff);
    background-image: -o-linear-gradient(#4d9cff, #338eff);
    background-image: linear-gradient(#4d9cff, #338eff);
  }
  &:active {
    border-bottom: 0;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #338eff), color-stop(100%, #4d9cff));
    background-image: -webkit-linear-gradient(#338eff, #4d9cff);
    background-image: -moz-linear-gradient(#338eff, #4d9cff);
    background-image: -o-linear-gradient(#338eff, #4d9cff);
    background-image: linear-gradient(#338eff, #4d9cff);
    -webkit-box-shadow: inset 0 1px 3px 1px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 0 1px 3px 1px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 1px 3px 1px rgba(0, 0, 0, 0.25);
  }
}